.mobile_menu{display:none;}
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#cssmenu ul{margin:0px; padding:0px; list-style:none; position:absolute; left:0px;top: -5px; background:#fff; z-index:9;}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;}
#cssmenu > ul > li{float:left; text-align:left;}
#cssmenu > ul > li > a{font-size:38px; text-decoration:none;color:#464646;font-weight:300; padding:0px 25px;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:rgb(10, 188, 194); -webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{line-height:55px;}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);width:170px;font-size:38px; text-decoration:none; color:#0abcc2; font-weight:700; text-align:left;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#0abcc2;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#0abcc2;content:'';-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:767px){
.mobile_menu{display:block;}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none;}
#cssmenu ul li{width:100%; line-height:45px; box-shadow:inset 0 0 0 1px #e8e9ea; text-transform:uppercase;}
#cssmenu ul li:hover{background: #805a11;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0; font-size:.875em; font-family:'Montserrat', sans-serif; line-height:45px;}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li{}
#cssmenu ul ul{box-shadow:none;}
#cssmenu ul ul li:hover{background:#172470 !important}
#cssmenu ul ul li a{color:#464646; background:none; padding:0px 40px;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff;}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left; top:0px;}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
#cssmenu .button{width:40px;height:35px;position:absolute;left:0px;top:-40px;cursor:pointer;z-index:12399994;background: #ffffff;}
#cssmenu .button:after{position:absolute;top:17px;right:5px;display:block;height:7px;width:30px;border-top:2px solid #2f477c;border-bottom:2px solid #2f477c;content:''}
#cssmenu .button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:8px;right:5px;display:block;height:2px;width:30px;background:#2f477c;
	content:'';}
#cssmenu .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:17px;border:0;height:2px;width:30px;background:#2f477c;
	-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
#cssmenu .button.menu-opened:before{top:17px;background:#2f477c;width:30px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);
	transform:rotate(-45deg)}
#cssmenu .submenu-button{z-index:9999;right:25px;top:0;height:55px;width:55px;cursor:pointer;display:inline-block; margin:0px; position:absolute;}
#cssmenu .submenu-button:before{display:block;content:'\f0d8'; font-family:'FontAwesome', Arial; line-height:46px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center; display:none;}
#cssmenu .submenu-button:after{display:block;content:'\f0d7'; font-family:'FontAwesome', Arial; line-height:54px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center;}
#cssmenu .submenu-button.submenu-opened:before{display:block;}
#cssmenu .submenu-button.submenu-opened:after{display:none;}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}

#cssmenu ul li.select a{font-size:.75em; text-transform:unset; font-family:"Roboto",sans-serif; font-weight:400; line-height:45px; text-transform:none;}
#cssmenu ul li.select{background:#f9f9f9;}

#cssmenu ul li.last-btn a{font-weight:400;}
#cssmenu ul li.last-btn a{background:#0abcc2; color:#fff;}

/*  use this if you want to click on full li to click it's sub child  */
#cssmenu .submenu-button{z-index:9999;right:0;top:0;height:100%;width:100%;cursor:pointer;display:block; margin:0px; position:absolute; top:0px; left:0px;}
#cssmenu .submenu-button:before{display:none;}
#cssmenu .submenu-button:after{display:none;}
#cssmenu .submenu-button.submenu-opened:before{display:none;}
#cssmenu .submenu-icon{z-index:9999;right:58px;height:0px;width:0px;cursor:pointer;display:block; margin:0px 0px 0px 22px; position:absolute; top:28px; z-index:1;}
#cssmenu .submenu-icon:before{display:block;content:'\f0d8'; font-family:'FontAwesome', Arial; line-height:0px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center; display:none;}
#cssmenu .submenu-icon:after{display:block;content:'\f0d7'; font-family:'FontAwesome', Arial; line-height:0px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center;}
#cssmenu .submenu-icon.submenu-opened:before{display:block;}
#cssmenu .submenu-icon.submenu-opened:after{display:none;}
}